* {
    margin: 0;
    padding: 0;
}
.divHeader {
    width: 100%;
}
.header, .footer {
    background-color: #263238;
    color: #feca1b;
}
ul {
    list-style: none;
    padding-left: 0;
    /* display: inline-flex; */
}
ul li {
    display: inline-flex
}
.col{
    text-align: center;
    text-align: -webkit-center;
}
.styleContenedor {
    margin-top: 200px;
}
.footer {
    font-size: 20px;
    margin-top: 30px;
    padding-top: 20px;
    height: 70px;
}
